html {
    height: 100%;

    > body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        align-items: stretch;

        > main {
            flex-grow: 99;
        }
    }
}

.button {
    $width: 300px;
    $height: 48px;

    width: $width;
    height: $height;
    display: block;
    box-sizing: border-box;
    font-family: $font;
    font-weight: normal;
    font-size: $font-size-default;
    letter-spacing: 0.9px;
    text-align: center;
    line-height: $height;
    color: white;
    border: solid 2px $orange;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
        color 0.3s ease-in-out;

    &:not([xe_hover='false']):hover {
        background-color: $orange;
    }

    &:visited {
        font-family: $font;
        font-weight: normal;
        font-size: $font-size-default;
        color: white;
    }

    &.solid {
        background-color: $orange;

        &:not([xe_hover='false']):hover {
            background-color: transparent;
            color: $orange;
        }
    }
}
