// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

// =============================================================================
// Elipsis
// =============================================================================
@mixin ellipsis($font-size, $line-height, $height){
	line-height: $line-height;
	-webkit-line-clamp: ($height / $font-size);
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin clearfix {
	color:red;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// MEDIAS
@mixin responds-to($min, $max){
	@media only screen and(min-width: $min) and (max-width: $max)  {@content;}
}

@mixin respond-to($media){
	@if $media == desktop {
		@media only screen and (min-width: $medium-break) and (max-width: $desktop-break) {@content;}
	}
	@else if $media == medium {
		@media only screen and (min-width: $tablet-break) and (max-width: $medium-break - 1) {@content;}
	}
	@else if $media == tablet {
		@media only screen and (min-width: $mobile-break) and (max-width: $tablet-break - 1) {@content;}
	}
	@else if $media == mobile {
		@media only screen and (max-width: $mobile-break - 1) {@content;}
	}
}